#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  margin: 30px;
  column-gap: 10px;
  row-gap: 10px;
  background-color: lightskyblue;
}

#img-container {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 30px;
  justify-content: flex-end;
}

#img-container > img {
  width: 100%;
}

div {
  background-color: lightskyblue;
}

nav {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 150px;
}

nav a {
  margin: 20px;
  color: black;
  text-decoration: none;
}

img.Logo {
  background-color: lightskyblue;
}
